page-home {
    .list-md .item-input:last-child{
        background: #9E9E9E
    }
    .brand{
        text-align: center;
        padding: 50px;
        p {
            font-size: 3.2em;
            font-size: 3.2em;
            color: #607D8B;
            font-weight: bolder;
            font-family: cursive;
            span{
                font-size: 2.5em;
                color: #E91E63
            }
        }
    }
}
